.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.search {
    top: 50%;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    vertical-align: middle;
    width: 20%;
    border: unset;
    border-radius: 4px;
    float: right;
    margin-right: 30px;
    margin-top: 11px;
}

.search:hover {
    opacity: 90%;
}

.locations {
    float: left;
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    margin-left: 30px;
}

.amenities {
    float: left;
    height: 100%;
    width: 25%;
    margin-left: 30px;
}

.locations h3 {
    font-weight: 600;
}

.locations h4 {
    font-weight: 400;
    font-size: 14px;
}

.amenities h3 {
    font-weight: 600;
}

.amenities h4 {
    font-weight: 400;
    font-size: 14px;
}

.popover {
    visibility: hidden;
    background-color: #FFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-top: 0;
    z-index: 1;
}

.popover ul li {
    list-style-type: none;
}

.popover ul {
    list-style-type: none;
}

.popover li {
    list-style-type: none;
}

.amenities:hover .popover{
    visibility: visible;
    background-color: #FFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-top: 0;
}

.locations:hover .popover{
    visibility: visible;
}