article {
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    position: relative;
}

.places {
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.places h1 {
    font-size: 30px;
}

article h2 {
    font-size: 30px;
    text-align: center;
}

.price_by_night {
    position: absolute;
    top: 10px;
    right: 20px; 
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 100%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
}

.max_guest {
    width: 100px;
}

.number_rooms {
    width: 100px;
}

.number_bathrooms {
    width: 100px;
}

.guest_icon {
    background-image: url('../images/icon_group.png');
    width: 50px;
    height: 50px;
}

.room_icon {
    background-image: url('../images/icon_bed.png');
    width: 50px;
    height: 50px;
}

.bathroom_icon {
    background-image: url('../images/icon_bath.png');
    width: 50px;
    height: 50px;
}

.information {
    display: flex;
    justify-content: center;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;  
}